bin/
gen/
out/
.DS_Store
*.iws
*.ipr
*.iml
*.ipr
*.swp
.idea/workspace.xml
local.properties
*.metadata
.git/
cached-robolectric-classes.jar
.settings
.project
.classpath
target/
tmp/
gen-external-apklibs/
vitaminsaber-sample/target/
vitaminsaber/target
classes/
.idea/
.idea/libraries
!.idea/.projectCodeStyle.xml
!.idea/inspectionProfiles
build/
velocity.log*
test.log*
